.movies-genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  width: min(50%, 100%);
  box-shadow: 0px 1px 2px rgb(148, 148, 148);
  margin: 30px auto;
  background-color: white ;
}
.movies-genre h1 {
  border-bottom: 2px solid black;
}
.categorie {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.genre p:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(254, 254, 254);
}

.genre button{
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 3px;
}